#**Theory Question**

1 -  What are data structures, and why are they important?
 - Data structures are ways of organizing and storing data in a computer to enable efficient access and modification. They include arrays, lists, stacks, queues, trees, graphs, and hash tables.

Importance:

- Efficiency: Helps in performing operations like searching, inserting, and deleting quickly.

- Memory management: Optimizes memory usage.

- Problem-solving: Different structures suit different problems.

- Performance: Affects time complexity and scalability of algorithms.

2 - Explain the difference between mutable and immutable data types with examples.
- Mutable data types can be modified after they are created, while immutable data types cannot be changed once they are created.
- Mutable: lists, dictionaries, sets
- Immutable: strings, tuples, integers

3 - What are the main differences between lists and tuples in Python?
- List are mutable that can be modifies whereas tuple are immutable cannot be modifies.
- List are defined with brackets [ ]. Tuple are defines with parentheses ( ).
- Lists are slower due to its mutability and tuple are future because it is mutability.
- List are suitable for collection that need modification and tuple for fixed collection which are often used as keys in dictionaries.

4 -  Describe how dictionaries store data.
- Dictionaries store data as key-value pairs. Each key is unique, and it maps to a specific value. The data is stored in an unordered collection, and you access the values using their corresponding keys.
- Example:

my_dict = {"name": "Alice", "age": 25}

print(my_dict["name"])

5 - Why might you use a set instead of a list in Python?
- Uniqueness: Sets automatically eliminate duplicate elements, ensuring all values are unique.

- Efficiency: Sets provide faster membership testing (in), as they use a hash-based structure.

- Mathematical operations: Sets support operations like union, intersection, and difference.

- Example:

my_set = {1, 2, 3}

my_set.add(3)  # No duplicate added

6 - What is a string in Python, and how is it different from a list?
- String is a sequence of characters enclosed in quotes (single, double, or triple quotes). It is immutable, meaning once created, it cannot be modified whereas list is an ordered collection of items (which can be of different types), and it is mutable, meaning you can modify, add, or remove elements.

- String contains only characters whereas list can contain different data types (numbers, strings, etc.)

- Example -

my_str = "Hello"

my_list = [1, "Hello", 3.14]

7 -  How do tuples ensure data integrity in Python?
- Tuples ensure data integrity in Python by being immutable, meaning once created, their data cannot be changed, added, or removed. This prevents accidental modifications, ensuring the data remains constant and reliable.

- In short, tuples protect data integrity by not allowing any modifications after creation.

8 -  What is a hash table, and how does it relate to dictionaries in Python?
- A hash table is a data structure that stores key-value pairs, where keys are hashed to produce an index for fast access to values. The hash function ensures quick lookups, insertions, and deletions by mapping keys to unique positions.

- In Python, dictionaries are implemented using hash tables. Each key in a dictionary is hashed, and the corresponding value is stored at the computed index for efficient retrieval.

- In short, a hash table is the underlying mechanism that powers dictionaries in Python, enabling fast key-based lookups.

9 - Can lists contain different data types in Python?
- Yes, in Python, lists can contain elements of different data types. A list is an ordered collection, and its elements can be of any type, such as integers, strings, floats, or even other lists.

-Example:

 my_list = [1, "hello", 3.14, [2, 3]]

print(my_list)

10 - Explain why strings are immutable in Python.
- Strings are **immutable** in Python to ensure data integrity and efficiency. Since strings are often used in many places, making them immutable allows Python to optimize memory usage and avoid accidental modification of string values, ensuring their consistency throughout the program.

- In short, **immutability** of strings ensures stability, performance, and memory efficiency.

11 - What advantages do dictionaries offer over lists for certain tasks?
- Dictionaries offer several advantages over lists for certain tasks:

  - Fast lookups: Dictionaries provide O(1) average-time complexity for key-based lookups, while lists require O(n) for searching.

  - Unique keys: Dictionaries ensure unique keys, preventing duplicates, whereas lists allow repeated elements.

  - Flexible key-value pairs: Dictionaries store data in key-value pairs, making them ideal for associating related data, unlike lists which are just ordered collections.

12 - Describe a scenario where using a tuple would be preferable over a list.
- A tuple would be preferable over a list when you need to store immutable data that should not be modified, such as coordinates (latitude, longitude) or fixed configurations. Since tuples are faster and protect data integrity, they are ideal for data that should remain constant throughout the program.

- In short, use a tuple when the data should be unchangeable and stable.

13 - How do sets handle duplicate values in Python?
- Sets automatically remove duplicate values. When you try to add a duplicate item to a set, it will not be added, ensuring that all elements are unique.

- Example:

 my_set = {1, 2, 3, 3}

 print(my_set)  # Output: {1, 2, 3}

14 -  How does the “in” keyword work differently for lists and dictionaries?
- It checks if a value exists in the list.
  - Example:
   
   my_list = [1, 2, 3]

   print(2 in my_list)  # Output: True
- It checks if a key exists in the dictionary.
  
  - EXample:

  my_dict = {"a": 1, "b": 2}

  print("a" in my_dict)  # Output: True

15 - Can you modify the elements of a tuple? Explain why or why not.
- No, you cannot modify the elements of a tuple because tuples are immutable. Once created, their values cannot be changed, added, or removed, ensuring data integrity and enabling performance optimizations.

- In short, tuples are immutable, so their elements cannot be modified.

16 - What is a nested dictionary, and give an example of its use case?
-  A nested dictionary is a dictionary where the values themselves are dictionaries. This allows you to store hierarchical data or more complex relationships.
- Use case:A nested dictionary is useful for representing structured data like a student's information where a student has multiple attributes (name, age) and nested information (grades for different courses).

- Example:

student = {
    
    "name": "Alice",
    
    "age": 20,
    
    "courses": {
    
        "math": "A",
    
        "science": "B",
    
        "history": "A"
    }
}

17 -Describe the time complexity of accessing elements in a dictionary.
- Accessing elements in a dictionary has an average time complexity of O(1). This means it takes constant time to retrieve a value using its key, thanks to the underlying hash table structure.

- In short, dictionary lookups are fast, with an average time complexity of O(1).

18 -In what situations are lists preferred over dictionaries?
- Lists are preferred over dictionaries when:

 - Order matters: Lists maintain the order of elements.

 - Indexed access by position: You need to access elements by their index (position) rather than by a key.

 -Duplicate elements: You need to store multiple occurrences of the same value.

19 Why are dictionaries considered unordered, and how does that affect data retrieval?
- Dictionaries are considered unordered because they store key-value pairs in a way that doesn't maintain any specific order of elements. The order of items in a dictionary is determined by the hash function used to store the keys, not their insertion order.

- Impact on Data Retrieval:
  - Keys: You retrieve values using specific keys, not positions or indices, so the lack of order doesn't affect how you access the data.

  - Performance: Since dictionaries use hash tables, retrieval is fast (average O(1) time complexity), but the order of the data is irrelevant for key-based lookups.

20 - Explain the difference between a list and a dictionary in terms of data retrieval.
- In a list, data is retrieved by index (position), while in a dictionary, data is retrieved by key (unique identifier).

 - List: Accessed via index (my_list[0]).

  - Dictionary: Accessed via key (my_dict["key"]).

# **Practical Question**

In [3]:
# 1 - Write a code to create a string with your name and print it.

name = "Anjali Singh"

print(name)

Anjali Singh

In [4]:
# 2 - Write a code to find the length of the string "Hello World"P

string = "Hello World"
length = len(string)

print(length)

11

In [5]:
# 3 - Write a code to slice the first 3 characters from the string "Python Programming".

string = "Python Programming"
sliced_string = string[:3]

print(sliced_string)

Pyt

In [6]:
# 4 - Write a code to convert the string "hello" to uppercase.

word = "hello"
uppercase_string  = word.upper()

print(uppercase_string)

HELLO

In [7]:
# 5 - Write a code to replace the word "apple" with "orange" in the string "I like apple".

input_string = "I like apple"
replaced_string = input_string.replace("apple", "orange")

print(replaced_string)

I like orange

In [8]:
# 6 - Write a code to create a list with numbers 1 to 5 and print it.

list = [1, 2, 3, 4, 5]

print(list)

[1, 2, 3, 4, 5]

In [9]:
# 7 - Write a code to append the number 10 to the list [1, 2, 3, 4]

list = [1, 2, 3, 4]
list.append(10)

print(list)

[1, 2, 3, 4, 10]

In [10]:
# 8 - Write a code to remove the number 3 from the list [1, 2, 3, 4, 5].

list = [1, 2, 3, 4, 5]
list.remove(3)

print(list)

[1, 2, 4, 5]

In [11]:
# 9 - Write a code to access the second element in the list ['a', 'b', 'c', 'd'].

list = ['a', 'b', 'c', 'd']
second_element = list[1]

print(second_element)

b

In [12]:
# 10 - Write a code to reverse the list [10, 20, 30, 40, 50].

list = [10, 20, 30, 40, 50]
reversed_list = list[::-1]

print(reversed_list)

[50, 40, 30, 20, 10]

In [13]:
# 11 -  Write a code to create a tuple with the elements 100, 200, 300 and print it.

tuple = (100, 200, 300)

print(tuple)

(100, 200, 300)

In [14]:
# 12 - Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').

tuple = ('red', 'green', 'blue', 'yellow')
second_to_last_element = tuple[-2]

print(second_to_last_element)

blue

In [15]:
# 13 - Write a code to find the minimum number in the tuple (10, 20, 5, 15).

tuple = (10, 20, 5, 15)
min_number = min(tuple)

print(min_number)

5

In [22]:
# 14 - Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').

animals = ('dog', 'cat', 'rabbit')
index_of_cat = animals.index('cat')
print(f"The index of 'cat' is: {index_of_cat}")

The index of 'cat' is: 1

In [23]:
# 15 -Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.

fruits = ("apple", "banana", "orange")

if "kiwi" in fruits:
  print("Kiwi is in the tuple")
else:
  print("Kiwi is not in the tuple ")

Kiwi is not in the tuple

In [24]:
# 16 Write a code to create a set with the elements 'a', 'b', 'c' and print it.

set = ('a', 'b', 'c')
print(set)

('a', 'b', 'c')

In [26]:
# 17 Write a code to clear all elements from the set {1, 2, 3, 4, 5}.

set = {1, 2, 3 , 4, 5}
set.clear()
print(set)

set()

In [27]:
# 18 Write a code to remove the element 4 from the set {1, 2, 3, 4}

set = {1, 2, 3, 4}
set.remove(4)
print(set)

{1, 2, 3}

In [28]:
# 19 Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.

a = {1, 2, 3}
b = {3, 4, 5}

print(a.union(b))

{1, 2, 3, 4, 5}

In [29]:
# 20  Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}

a = {1, 2, 3}
b = {2, 3, 4}

print(a.intersection(b))

{2, 3}

In [30]:
# 21  Write a code to create a dictionary with the keys "name", "age", and "city", and print it.

dict = {"name": "Anjali", "age": 27, "city": "Kanpur"}
print(dict)

{'name': 'Anjali', 'age': 27, 'city': 'Kanpur'}

In [31]:
# 22 Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.

dict = {'name': 'John', 'age': 25}
dict['country'] = 'USA'
print(dict)

{'name': 'John', 'age': 25, 'country': 'USA'}

In [32]:
# 23  Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.

dict = {'name': 'Alice', 'age': 30}
name = dict['name']
print(name)

Alice

In [35]:
# 24  Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.

dict = {'name': 'Bob', 'age': 22, 'city': 'New York'}
del dict["age"]
print(dict)

{'name': 'Bob', 'city': 'New York'}

In [37]:
# 25  Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.

dict = {'name': 'Alice', 'city': 'Paris'}
if 'city' in dict:
  print("The key 'city' exists in the dictionary.")
else:
  print("The key 'city' does not exist in the dictionary.")

The key 'city' exists in the dictionary.

In [42]:
# 26  Write a code to create a list, a tuple, and a dictionary, and print them all

list = {1, 2, 3, 4, 5}

tuple = (6, 7, 8 , 9, 10)

dict = {"a": 11, "b": 12, "c": 13}

print("List:", list)
print("Tuple:", tuple)
print("dict:", dict)

List: {1, 2, 3, 4, 5}
Tuple: (6, 7, 8, 9, 10)
dict: {'a': 11, 'b': 12, 'c': 13}

In [44]:
# 27 Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the result.(replaced).

import random
def create_sort_print_random_list():
    random_numbers = random.sample(range(1, 101), 5)
    random_numbers.sort()
    print(random_numbers)

create_sort_print_random_list()

[8, 23, 44, 46, 69]

In [48]:
# 28  Write a code to create a list with strings and print the element at the third index.

list = ["apple", "banana", "cherry", "date", "elderberry"]
print(list[2])

cherry

In [57]:
# 29 Write a code to combine two dictionaries into one and print the result.

def combine_dictionaries(dict1, dict2):

 combined_dict = dict1.copy()
 combined_dict.update(dict2)  # Update the copy with key-value pairs from dict2
 return combined_dict

dict1 = {"a": 1, "b": 2}
dict2 = {"c": 3, "d": 4, "b": 5}  # Key "b" exists in both, so value from dict2 overrides

combined = combine_dictionaries(dict1, dict2)
combined

{'a': 1, 'b': 5, 'c': 3, 'd': 4}

In [1]:
# 30 Write a code to convert a list of strings into a set.

# Given list of strings
string_list = ["apple", "banana", "apple", "cherry", "banana"]

# Converting the list to a set
string_set = set(string_list)

# Printing the set
print(string_set)

{'banana', 'apple', 'cherry'}